@font-face {
	font-family: 'Avenir';
	src: url('../../fonts/AvenirLTStd-Medium.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir';
	src: url('../../fonts/AvenirLTStd-Heavy.otf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir';
	src: url('../../fonts/AvenirLTStd-Light.otf');
	font-weight: lighter;
	font-style: normal;
}

@font-face {
	font-family: 'AvenirBook';
	src: url('../../fonts/AvenirLTStd-Book.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AvenirRoman';
	src: url('../../fonts/AvenirLTStd-Roman.otf');
	font-weight: bold;
	font-style: normal;
}
