$palette: (
	primary: (
		'0': #472F12,
		'1': #FFA840,
		'2': #FAE3C7,
		'3': #FBF2E7
	),
	secondary: (
		'0': #124C47,
		'1': #375E5A,
		'2': #03C8A8,
		'3': #ACF4E9,
		'4': #E8F6F5
	),
	tertiary: (
		'0': #55272D,
		'1': #EB6D7F,
		'2': #F1C7CD,
		'3': #FAF2F3
	),
	grayscale: (
		'0': #212121,
		'1': #464646,
		'2': #6B6B6B,
		'3': #979797,
		'4': #D2D2D2,
		'5': #D8D8D8,
		'6': #EEEEEE,
		'7': #F5F5F5,
		'8': #FEFEFE
	),
);