@import '../../themes/theme.scss';

.city-search {
  .react-autosuggest__container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-size: 0;
  }

  .react-autosuggest__input {
    width: 100%;
    height: 100%;
    padding: 5px 50px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    border-radius: 42.5px;
    box-shadow: 0px 14px 32px rgba(0,0,0,0.1);
    border: none;
    background-color: map-get(map-get($palette, "grayscale"), "8");

    &::placeholder {
      color: map-get(map-get($palette, "grayscale"), "4");
    }
  }

  .react-autosuggest__input--focused {
    outline: none;
  }

  .react-autosuggest__input--open {
    /* border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; */
  }

  .react-autosuggest__suggestions-container {
    display: none;
  }

  .react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    top: 42px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: calc(16.1em + 3vw);
    background-color: map-get(map-get($palette, "grayscale"), "7");
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border-bottom-left-radius: .6em;
    border-bottom-right-radius: .6em;
    z-index: 2;
    box-shadow: 0px 11px 18px -5px map-get(map-get($palette, "grayscale"), "3");
  }

  .react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .react-autosuggest__suggestion {
    cursor: pointer;
    padding-top: .7em;
    padding-bottom: .7em;
  }

  .react-autosuggest__suggestion--highlighted {
    background-color: map-get(map-get($palette, "grayscale"), "6");
  }

  .filter-block {
    background: red;
  }
}
